﻿.button {
  display: inline-block;
  font-size: 1.313rem;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 20px 50px;
  border-radius: 5px;
  background-color: $green-primary;
  color: #ffffff;
  border: 0;
  border-bottom: 5px solid $green-darker;
  margin: 20px 0;
  cursor: pointer;

  &:hover:enabled {
    color: #ffffff;
    background-color: $green-darker;
    border-bottom: 5px solid $green-primary;
  }
  &:hover:disabled {
          background-color:$green-primary;
      }
  &:disabled {
      cursor:not-allowed;
      opacity:0.65;

      
  }
}

.button--smaller {
    @extend .button;
    font-size: .9rem;
    padding: 13px 20px;
    margin: 10px 0;
    border-bottom: none !important;
    
    &:hover {
        border-bottom: none !important;
    }
}

.button--facebook {
  @extend .button;
  background-color: $facebook-branding-colour;
  border-bottom: 5px solid darken($facebook-branding-colour, 10%);

  &:hover {
    background-color: darken($facebook-branding-colour, 10%);
    border-bottom: 5px solid $facebook-branding-colour;
  }
}

.button--purple, .body--green .button--purple {
    @extend .button;
    background-color: $purple-primary;
    border-bottom: 5px solid $purple-darker;

    &:hover {
    background-color: $purple-darker;
    border-bottom: 5px solid $purple-primary;
    }
}

.button--hollow {
    @extend .button;
    background-color: transparent !important;
    border: 2px solid #fff !important;

    &:hover {
        background-color: #fff !important;
        border: 2px solid $green-primary !important;
        color: $green-primary;
    }
}

.body--green {

    .button {
        background-color: $green-darker;
        border-bottom: 5px solid darken($green-darker, 10%);
        &:hover {
            background-color: darken($green-darker, 10%);
            border-bottom: 5px solid darken($green-darker, 20%);
        }
    }

    .button--smaller {
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
    
}