﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
// 300 = light
// 500 = medium
// 600 = semi-bold
// 800 = extra-bold

*, body, h1, h2, h3, h4, p, a, ul, li {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
  text-transform: lowercase;
  color: $grey;
}

.body--green h1,
.body--green h2,
.body--green h3,
.body--green h4 {
    color: #ffffff;
}

h1 {
  // font-size: responsive 2.2rem 3.75rem;
  font-size: 3.75rem;
  padding-bottom: 1.6rem;
}

h2 {
  // font-size: responsive 1.6rem 3rem;
  font-size: 3rem;
  padding-bottom: 1.15rem;
}

h3 {
  // font-size: responsive 1.4rem 2rem;
  font-size: 2rem;
  padding-bottom: 1.05rem;
}

h4 {
  // font-size: responsive 1.1rem 1.5rem;
  font-size: 1.5rem;
  padding-bottom: 0.825rem;
}

p {
  font-weight: 300;
  // font-size: responsive 1rem 1.275rem;
  font-size: 1.275rem;
  margin-bottom: 0.75rem;
  line-height: 1.4;
  color: $grey-lighter;
}

.body--green p {
    color: #ffffff;
}

p.intro {
  // font-size: responsive 1.2rem 2rem;
  font-size: 2rem;
}

p.smaller {
  // font-size: responsive 0.8rem 1.125rem;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: $green-primary;

  &:hover {
    color: $green-darker;
  }
}

.capitalize {
    text-transform: capitalize;
}

ul {
    font-weight: 300;
    font-size: 1.275rem;
    color: $grey-lighter;

    li {
        margin-bottom: 0.75rem;
        line-height: 1.4;
    }
}

ul.bulleted {
    list-style: url('/images/bullet.png');
    list-style-position: inside;
}

.body--green {
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            color: $grey-darker;
        }
    }
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid $grey-lighter;
}