﻿// Variables
$base-font-size:1rem;
$border-colour: #f2f2f2;
$green-pastel: #E4EFEB;
$green-primary: #42A792;
$green-lighter: #4FBBA4;
$green-darker: #3C8B7B;

$purple-pastel: #CED3E9;
$purple-primary: #5E336B;
$purple-darker: #43234D;

$grey: #7E7E7E;
$grey-lighter: #A7A7A7;
$grey-darker: #4A4A4A;
$grey-faded: #BBBBBB;

$facebook-branding-colour: #3B5998;

$white: #FFF;

$red-alert: #8C1515;
$red-bright: #BD1616;