﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h1 class="pageTitle">
        Weather Forecast for <strong>London, UK</strong>
    </h1>
    <p>
        First, press "Seed Database" to populate the database with the forecast for <i>Today</i>, <i>Tomorrow</i>, and the <i>Day after tomorrow</i>
    </p>
    @using (Html.BeginForm("Seed", "Home", FormMethod.Post))
    {

        <p>
            <button class="button" type="submit">Seed database</button>
        </p>
    }

    @if(ViewBag.seeded == true)
    {
        <p class="seeding-complete">
            Seeding complete! Data is now up to date.
        </p>
    }

    <hr/>

    <div id="content"></div>

    <div class="values">
        <p>
            <strong>
                High Average:
            </strong>
            <span id="highAvg">@ViewBag.highAverage</span>°
        </p>
        <p>
            <strong>
                Low Average:
            </strong>
            <span id="lowAvg">@ViewBag.lowAverage</span>°
        </p>        
    </div>
</div>