﻿@import 'base/reset';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/buttons';
@import 'layout/layout';
@import 'modules/forecastWidget';

h1.pageTitle {
    font-size:20px;
    font-weight:bolder;
    text-transform:capitalize;
}

hr {
    border-color:#f2f2f2;
    border-width:1px;
    margin:5px auto;
}

i {
    font-style:italic;
}

p.seeding-complete {
    color:$green-primary;
    font-weight:bold;
    margin:25px auto;
}

