﻿$max-width: 1040px;

.container {
  width: 100%;
  max-width: $max-width;
  display: block;
  font-size: 0; // inline-block space
  margin: 0 auto;
  padding: 60px 10px;
  position: relative;
}

.container--centered {
  @extend .container;
  text-align: center;
}

.clear-fix {
    clear: both;
}