﻿div.forecastWidget {
    margin:25px auto;

    h1 {
        font-weight:bold;
        font-size:26px;
        text-transform:capitalize;
    }

    div.dayList {
        margin:10px auto;
        display:table;
        width:100%;

        div.day {
            display:table-cell;         
            padding:1em;
            width: auto;
            margin-right:5px;

            h2.dayName {
                font-weight:bold;
                text-transform:capitalize;
                font-size:22px;
                margin-bottom:10px;

                span.date {
                    display:block;
                    color: #e2e2e2;
                    font-size:14px;
                    margin-top:8px;
                }
            }

            p {
                line-height:1.5;

                &.highTemperature, &.lowTemperature {
                    span.difference {

                        margin-left:5px;
                        font-weight:bold;
                        border-radius:5px;
                        padding:3px;


                        &.positive {
                            color:$green-primary;
                        }

                        &.negative {
                            color:$red-bright;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .difference {
        display:block;
    }
}